<!-- Main Content -->
<div class="main-content">
  <!-- Dashboard Section -->
  {% include 'content/dashboard.html' %}

  <!-- Analyzer Section -->
  {% include 'content/analyzer.html' %}

  <!-- Arbitrage Section -->
  {% include 'content/arbitrage.html' %}

  <!-- Settings Section -->
  {% include 'content/settings.html' %}

  <!-- Exchanges Section -->
  {% include 'content/exchanges.html' %}

  <!-- Logs Section -->
  {% include 'content/logs.html' %}

  <!-- Orders Section -->
  {% include 'content/orders.html' %}
</div>
